# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
tpl= tuple(range(1,11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [2]:
first = tpl[0]
middle = tpl[(len(tpl) // 2)]
last = tpl[-1]

print(first)
print(middle)
print(last)

1
6
10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [10]:
first_3 = tpl[:3]
last_3 =  tpl[-3:]
index_2_5 = tpl[2:6]

print(first_3)
print(last_3)
print(index_2_5)

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [11]:
matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print(matrix[1][2])

6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [12]:
first_tpl = (1,2,3)
second_tpl = (4,5,6)

print(first_tpl + second_tpl)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [14]:
dup_tpl = (1,2,3,4,4,5,6)

print(dup_tpl.count(4))
print(dup_tpl.index(4))

2
3

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [15]:
tpl_of_5 = (1,2,3,4,5)
a,b,c,d,e = tpl_of_5
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [16]:
lst = list(range(1,6))
tupl = tuple(lst)
print(tupl)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [17]:
matrix_tpl = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print(matrix_tpl)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [18]:
tpl = (range(1,6))

to_list = list(tpl)
to_list.append(6)

to_tpl = tuple(to_list)
print(to_tpl)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [20]:
str = "Tamas"
tpl = tuple(str)
joined_tpl = ''.join(tpl)
print(joined_tpl)

Tamas

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [5]:
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}

print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [4]:
nested_tuple = [(1,2,3,4),(5,6,7,8),(1,"Hello",3.14,True)]

for i in nested_tuple:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
1
Hello
3.14
True

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [7]:
tpl = (1,2,3,3,4)
to_set = set(tpl)
print(to_set)

{1, 2, 3, 4}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [12]:
tpl_of_nums = (1,2,3,3,4)

def min_in_tpl(tpl):
    return min(tpl)

def max_in_tpl(tpl):
    return max(tpl)

def sum_of_tpl(tpl):
    return sum(tpl)

print(min_in_tpl(tpl_of_nums))
print(max_in_tpl(tpl_of_nums))
print(sum_of_tpl(tpl_of_nums))

1
4
13