# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [2]:
st = set(range(1,10))
print(st)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [ ]:
st.add(11)
st.pop() # or --- st.remove(1)
print(st)

{2, 3, 4, 5, 6, 7, 8, 9, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [12]:
set_1 = set(range(1,6))
set_2 = set(range(2, 11, 2))
print(set_1)
print(set_2)

print("Union:", set_1.union(set_2))
print("Intesection:", set_1.intersection(set_2))
print("Difference:", set_1.difference(set_2))
print("Symmetric difference:", set_1.symmetric_difference(set_2))

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}
Union: {1, 2, 3, 4, 5, 6, 8, 10}
Intesection: {2, 4}
Difference: {1, 3, 5}
Symmetric difference: {1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [13]:
square_set = set(x**2 for x in range(1,11))
print(square_set)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [14]:
even_set = {x for x in st if x%2==0}
print(even_set)

{8, 2, 4, 6}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [17]:
dup_st = {1,2,2,3,3,3,4,5}
remove_dup_st = set(dup_st)
print(remove_dup_st)

{1, 2, 3, 4, 5}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [19]:
set_1 = set(range(1,6))
set_2 = set(range(1,4))

print(set_2.issubset(set_1))
print(set_1.issuperset(set_2))

True
True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [20]:
frozen_set = frozenset(range(1,6))
print(frozen_set)

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [21]:
set_1 = set(range(1,6))

to_lst = list(set_1)

to_lst.append(6)

to_set = set(to_lst)

print(to_set)

{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [2]:
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [4]:
st = {1,2,3,4,5,6}

for i in st:
    print(i)

1
2
3
4
5
6

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [7]:
st = {1,2,3,4,5,6}

while st:
    st.pop()
    print(st)

{2, 3, 4, 5, 6}
{3, 4, 5, 6}
{4, 5, 6}
{5, 6}
{6}
set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [5]:
st_1 = {1,2,3}
st_2 = {3,4,5}
st_1.symmetric_difference_update(st_2)
print(st_1)

st_1 = {1,2,3}
st_2 = {3,4,5}
st_2.symmetric_difference_update(st_1)
print(st_2)

{1, 2, 4, 5}
{1, 2, 4, 5}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [6]:
s = set(range(1, 6))
print(3 in s)
print(6 in s)

True
False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [7]:
set_tpl = {(1,2), (3,4), (5,6)}
print(set_tpl)

{(1, 2), (3, 4), (5, 6)}