##### Standard Library Overview
Python's Standard Library is a vast collection of modules and packages that come bundled with Python, providing a wide range of functionalities out of the box. Here's an overview of some of the most commonly used modules and packages in the Python Standard Library.

In [1]:
import array

arr = array.array("i", [1,2,3,4])
print(arr)

array('i', [1, 2, 3, 4])

In [3]:
import math

print(math.sqrt(16))
print(math.pi)

4.0
3.141592653589793

In [7]:
import random

print(random.randint(1,10))
print(random.choice(["apple", "banana", "cherry"]))

6
cherry

In [8]:
### File and Directory Access

import os

print(os.getcwd())

c:\Users\csiba\Documents\Data analysis - Udemy\Data_Analysis_Udemy\Section_2-3_Python\5_Import

In [9]:
os.mkdir("test_dir")

In [10]:
## High Level Operations on files and collection of files

import shutil

shutil.copyfile("source.txt", "destination.txt")

'destination.txt'

In [13]:
## Data Serialization

import json

data = {"name": "Tamas", "age": 26}

json_str = json.dumps(data)
print(json_str)
print(type(json_str))

parsed_data = json.loads(json_str)
print(parsed_data)
print(type(parsed_data))

{"name": "Tamas", "age": 26}
<class 'str'>
{'name': 'Tamas', 'age': 26}
<class 'dict'>

In [14]:
## CSV

import csv

with open("example.csv", mode="w", newline="") as file:
    writer = csv.writer(file)
    writer.writerow(["name", "age"])
    writer.writerow(["Tamas", 26])

with open("example.csv", mode="r") as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['Tamas', '26']

In [16]:
## Datatime

from datetime import datetime, timedelta

now = datetime.now()
print(now)

yesterday = now-timedelta(days = 1)
print(yesterday)

2025-11-29 14:20:29.445419
2025-11-28 14:20:29.445419

In [17]:
## Time

import time

print(time.time())
time.sleep(2)
print(time.time())

1764422479.8724942
1764422481.8731177

In [19]:
## Regular Expression

import re

pattern = r"\d+"
text = "There are 123 apples"
match = re.search(pattern,text)
print(match)
print(match.group())

<re.Match object; span=(10, 13), match='123'>
123