### Variables
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

Video Outline:
- Introduction to Variables
- Declaring and Assigning Variables
- Naming Conventions
- Understanding Variable Types
- Type Checking and Conversion
- Dynamic Typing
- Practical Examples and Common Errors

In [2]:
## Declaring And Assigning Variables

age = 25
height = 163
name = "Tamas"
is_Student = True

## Printing the Variables

print("Age:", age)
print("Height:", height)
print("Name:", name)

Age: 25
Height: 163
Name: Tamas

In [3]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contain letter, numbers and underscores
## Variables names are sensitive

## valid variable names

first_name = "Tamas"
last_name = "Csiba"

In [4]:
## Invalid variable names

2age

SyntaxError: invalid decimal literal (3989991421.py, line 3)

In [5]:
first-name = "Tamas"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (999063226.py, line 1)

In [6]:
@name = "Tamas"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1381155986.py, line 1)

In [8]:
## Case Sensivity

name = "Tamas"
Name = "Csiba"

In [10]:
## Understanding Variable types
## Python is dynamically typed, type of a variable is determined at runtime

age = 25
height = 163
name = "Tamas"
is_Student = True

print(type(name))

<class 'str'>

In [11]:
## Type Checking and Conversion

type(height)

int

In [12]:
age = 25
print(type(age))

# Type Conversion

age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [14]:
age = "25"
print(type(int(age)))

<class 'int'>

In [15]:
name = "Tamas"
int(name)

ValueError: invalid literal for int() with base 10: 'Tamas'

In [17]:
height = 163.1
type(height)

float

In [18]:
int(height)

163

In [19]:
float(int(height))

163.0

In [23]:
## Dynamic Typing
## Python allows the type of a variable to change as the program executes

var = 10
print(var, type(var))

var = "Hello"
print(var, type(var))

var = 3.14
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [28]:
## Input

age = input("What is your age?")
print(age, type(age))

age = int(input("What is your age?"))
print(age, type(age))

25 <class 'str'>
23 <class 'int'>

In [29]:
### Simple Calculator

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 9.0
Difference: -3.0
Product: 18.0
Quotient: 0.5